body{
    background-color:#427E80;
    background-size: cover;
}
header{
    background-size:cover;
background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image:url("../Info-Trabajo-Final/assets/imagenes/codigo.jpeg");
   min-height: 500px;

padding: 0px 100px;

}

#Logo{
    width: 200px;
    height: 84px;
    
}
#Logo2{
    width: 181px;
    height: 70px;
}

h1{
    display: block;
    text-align: center;
    font-size: 60px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: #2D2D2D;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 4px 4px black;
    width: 875px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 2px black;
    font-size: 40px;
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 60px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;

}
footer{
    background-color: #1d1d1d;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
#boxfoot{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    width: 300px;
}
#Img1AR{
    width: 350px;
    height: 222px;
}

#Img2AR{
    width: 350px;
    height: 202.05px;
}
.contentAR{
    display: flex;
    align-items: center;
    width: 200px;
}
aside{
    display: flex;
 justify-content: space-evenly;
 gap: 25px;
width: 100%;
margin: 100px;
}

*{
    font-family: 'Montserrat', sans-serif;

}

#textARS{
    margin-left: 20px;
    text-align: center;
}

#textARS2{
    margin-left: 20px;
}
.Articulos{
    width: 350px;
    border: #2D2D2D solid 3px;
    height: 400px;
    background: #F0F5E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: #154454 5px solid;
    margin-right: 150px;
    margin-top: 90px;
}

#botonesAS1{
  background-color: #427E80;
    width: 160px;
    height: 38px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-size: 16px;
    box-shadow: 1px 1px #154454;
    margin-bottom: 20px;

}

#botonesAS2{
    background-color: #427E80;
    margin-bottom: 20px;
    width: 160px;
    height: 38px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-size: 16px;
    box-shadow: 1px 1px #154454;
    text-align: center;
}

#botH{
float: right;
display: flex;
justify-content: space-evenly;
gap: 10px;
width: 340px;
margin-top: 20px;
}

.botonesDeH{
height: 42px;
flex-direction: row;
width: 110px;
border-radius: 10px;
font-size: 17px;
box-shadow: 1px 0.5px;
background-color: #F0F5E4;
font-weight: 300;
}

#textFot{

    color:white;
  display: block;
margin-top: 30px;
margin-right: 40px;
}